# Não inclua arquivos de dados
dados/*
venv/*
old/*
x-instagram/*


# Não inclua arquivos de ambiente
.env


# Não inclua arquivos de logs
*.log

# Não inclua arquivos de configuração local

# Arquivos de textes
instagram05.py