# Não inclua arquivos de dados
venv/*
old/*



# Não inclua arquivos de ambiente
.env


# Não inclua arquivos de logs
*.log

# Não inclua arquivos de configuração local

# Arquivos de textes
# instagram06.py
# instagram07.py
# instagram08.ipynb


# Arquivo de dados
#instagram.duckdb

# Arquivos Dados Json
# json/*
# medias.json


# Arquivos de SQL
# *.sql


business*

*.old

json2/*